h1 {
    font-family: cursive;
    color: green;
}

.box {
    height: 50px;
    width: 50px;
}

.box1 {
    background-color:blue;
}

.box2 {
    background-color:blueviolet;
}

.box3 {
    background-color: burlywood;
}

.box4 {
    background-color: aqua;
}

.box5 {
    background-color: yellowgreen;
}

.container {
    display: flex;
    justify-content: space-between;
}
