* {
    margin: 0;
    padding: 0;
    color: #333;
    font-family: normal Avenir, Arial, georgia;
}
/*-- header --*/
#header {
    border-top: solid 2px black;
    background-color: #f6f5ee;
    position: fixed;
    top: 0;
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
}
#header .header_warp .search_box {
    position: absolute;
    top: 10px;
    right: 40px;
    background: white;
    border: solid 1px gray;
    border-radius: 5px;
    width: 34px;
    height: 34px;
}
#header .header_warp .search_box img {
    position: absolute;
    top: 7px;
    left: 7px;
}
#header .header_warp {
    border: solid 0px black;
    height: 120px;
    width: 1100px;
}
#header .header_warp {
    height: 120px;
    width: 1100px;
    position: relative;
    border: solid 0px black;
}
#header .header_warp .header_logo {
    position: absolute;
    top: 20px;
    width: 75px;
    height: 75px;
}
#header .header_warp .header_nav {
    position: absolute;
    left: 552px;
    top: 21px;
}
#header .header_warp .header_nav .header_list {
    list-style: none;
}
#header .header_warp .header_nav .header_list .list {
    float: left;
    color: #555;
    font-size: 13px;
    text-align: center;
    height: 20px;
    border: solid 0px black;
}
#header .header_warp .header_nav .header_list .list {
    text-decoration: none;
}
#header .header_warp .header_nav .header_list .list .support:hover {
    text-decoration: underline;
}
#header .header_warp .header_nav .header_list .list .support:nth-child(1) {
    width: 76px;
}
#header .header_warp .header_nav .header_list .list .support:nth-child(2) {
    width: 106px;
}
#header .header_warp .header_nav .header_list .list .support:nth-child(3) {
    width: 181px;
}
#header .header_warp .header_nav .header_list .list .support:nth-child(4) {
    width: 97px;
}
/*-- header category --*/
#header #category {
    position: absolute;
    top: 60px;
    width: 1100px;
    height: 66px;
    border: solid 0px black;
}
#header #category {
    display: flex;
    justify-content: flex-end;
}
#header #category .category_nav .category_warp {
    list-style: none;
    width: 737px;
    display: flex;
    justify-content: space-between;
    border: solid 0px black;
}
#header #category .category_nav .category_warp .suv_support {
    text-align: center;
    flex: auto;
}
#header #category .category_nav .category_warp .main {
    text-decoration: none;
    display: block;
    border: solid 0px black;
    text-transform: uppercase;
    font-size: 13px;
    padding-top: 10px;
    height: 66px;
}
#header #category .category_nav .category_warp  .main:hover {
    text-decoration: underline;
    background-color: #2c2a29;
    color: #669900;
}